*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  *zoom: 1;
  background: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-size: 16px;
  min-height: 100vh;
  background: #1e1e1e;
  color: #ddd;
  font-family: sans-serif;
}

/* top-bar */
/* END top-bar */
