@import "compass";
@import "base";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  &-menu{
    color: #757575;
    font-size: 47px;
  }
  &-search{
    color: #757575;
    font-size: 34px;
    height: 35px;
  }
  &-plus{
    color: #ebebeb;
    font-size: 35px;
  }
}

body, html{
  height: 100%;
}

 /* top-bar */
 .b-wrapper{
  width: 100%;
  min-height: 100%;
  position: relative;
  @include transition(all 0.6s);
  &.jsCanvas.is-open{
    @include transform(translate3d(65%, 0, 0)); 
  }
 }
 /* END top-bar */


 /* b-navigation */
 .b-navigation{
  background:#444;
  width: 65%;
  height: 200px;
  position: absolute;
  right: 100%;
  height: 100%;
 }
 /* END b-navigation */

 /* b-toggle-menu */
 .b-toggle-menu{
  float: left;
  width: 74px;
  text-align: center;
  &__button{
    display: block;
    line-height: 0;
    padding-top: 7px;
  }
 }
 /* END b-toggle-menu */

 /* b-top-bar */
 .b-top-bar{
  @include pie-clearfix;
  position: fixed;
  width: 100%;
  background:#f1f1f1;
  padding: 10px;
  border-bottom: 3px solid #d8d8d8;
 }
 /* END b-top-bar */

 /* b-search */
 .b-search{
  float: left;
  width: calc(100% - 160px);
  &__form{
    position: relative;
  }
  &__input-text{
    height: 60px;
    padding-left: 70px;
    border: none;
    width: 100%;
    font-size: 28px;
    padding-right: 5px;
    color: #a9a9a9;
  }
  &__input-submit{
    position: absolute;
    left: 10px;
    top: 0px;
    background: none;
    height: 100%;
    border: none;
    padding-top: 4px;
    width: 40px;
  }
 }
 /* END b-search */

 /* b-add */
 .b-add{
  float: left;
  width: 74px;
  padding-left: 10px;
  &__action{
    border-radius: 8px;
    border: 1px solid #cc362b;
    background:#d0322b;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 11px;
    height: 60px;
    width: 74px;
    margin: auto;
    display: block;
    box-shadow: inset 0 0 1px 1px #e35349; 
  }
 }
 /* END b-add */