@import "compass";
@import "base";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  &-menu{
    color: #757575;
    font-size: 47px;
  }
  &-search{
    color: #757575;
    font-size: 34px;
    height: 35px;
  }
  &-plus{
    color: #ebebeb;
    font-size: 35px;
  }
}

body, html{
  height: 100%;
  // @include transition(all 0.3s);
  left:0;
}
body.offMenu{
  left: 55%;
  position: relative;
  overflow: hidden;
}

 /* top-bar */
 .b-wrapper{
  min-width: 640px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
 }
 /* END top-bar */

 /* b-navigation */
 .b-navigation{
  background:#444;
  width: 55%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  height: 100%;
  top:0;
 }
 /* END b-navigation */

 /* b-toggle-menu */
 .b-toggle-menu{
  float: left;
  width: 74px;
  text-align: center;
  &__button{
    display: block;
    line-height: 0;
    padding-top: 7px;
  }
 }
 /* END b-toggle-menu */

 /* b-top-bar */
 .b-top-bar{
  @include pie-clearfix;
  // @include transition(all 0.3s);
  left:0;
  position: fixed;
  z-index: 2;
  width: 100%;
  background:#f1f1f1;
  padding: 10px;
  border-bottom: 3px solid #d8d8d8;
  &.is-active{
    left: 55%;
  }
 }
 /* END b-top-bar */

 /* b-search */
 .b-search{
  float: left;
  width: calc(100% - 160px);
  &__form{
    position: relative;
  }
  &__input-text{
    height: 60px;
    padding-left: 70px;
    border: none;
    width: 100%;
    font-size: 28px;
    padding-right: 5px;
    color: #a9a9a9;
  }
  &__input-submit{
    position: absolute;
    left: 10px;
    top: 0px;
    background: none;
    height: 100%;
    border: none;
    padding-top: 4px;
    width: 40px;
  }
 }
 /* END b-search */

 /* b-add */
 .b-add{
  float: left;
  width: 74px;
  padding-left: 10px;
  &__action{
    border-radius: 8px;
    border: 1px solid #cc362b;
    background:#d0322b;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 11px;
    height: 60px;
    width: 74px;
    margin: auto;
    display: block;
    box-shadow: inset 0 0 1px 1px #e35349; 
  }
 }
 /* END b-add */

 /* b-content */
 .b-content{
  padding-top: 120px;
  @include pie-clearfix;
 }
 /* END b-content */

 /* b-item */
 .b-item{
  @include pie-clearfix;
  padding: 5px;
  height: 195px;
  overflow: hidden;
  margin-bottom: 30px;
  display: block;
  color: #363636;
  &:active, &:focus{
    opacity: 0.8;
  }
  &__image{
    width: 40%;
    float: left;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  &__img{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
  }
  &__info{
    float: left;
    width: 60%; 
    padding: 15px 10px 0 15px;
  }
 }
 /* END b-item */

 /* b-price */
 .b-price{
  @include pie-clearfix;
  margin-bottom: 11px;
  &__text{
    font-size: 33px;
  }
  &__space{
    float: right;
    padding-top: 7px;
    color: #d7362d;
    font-size: 25px;
  }
 }
 /* END b-price */

 /* b-description */
 .b-description{
  height: 84px;
  overflow: hidden;
  margin-bottom: 9px;
  &__text{
    font-size: 17px;
    line-height: 1.2;
  }
 }
 /* END b-description */

 /* b-contact */
 .b-contact{
  font-size: 25px;
  white-space: nowrap;
  &__name{
    font-weight: bold;
    vertical-align: bottom;
    margin-right: 5px;
  }
  &__phone{
    vertical-align: bottom;
  }
 }
 /* END b-contact */